// font: 
$quest: 'Questrial', sans-serif;

// colors:
$primary: #FBBD02;
$secondary: #019F85;
$background: #49463B;

body {
  width: 100%;
  padding: 0;
  margin: 0px auto;
  background: $background;
}

.nav {
  
  ul {
    margin: 5% 2% auto;
    list-style-type: none;
    display: table;
    
    li {  
      vertical-align: middle;
      display: table-cell;
      line-height: 17vw;
      margin: 2vw;
      width: 17vw;
      height: 17vw;
      float: left;
      font-family: $quest;
      font-size: 3vw;
      text-shadow: 0 5px 5px $background;
      background: linear-gradient(-90deg, $secondary, $secondary);
      color: $primary;     
      border-radius: 50%;
      transition: .5s;
      
      &:hover {
        cursor: pointer;
        animation: 2s onHover;
        border: solid 2px $primary;
      }
      
      &:active {
        background: $background;
      }
      
      &.social {
        border: solid 2px white;
        background: $background;
        transition: .25s;
          
        &.twitter {
          color: #00aced;
        }
        
        &.facebook {
          color: #3B5998;
        }
        
        &.insta {
          color: #6dc993;
        }
        
        &.snap {
          color: #fffc00;
        }
        
        &:hover {
          border: solid 2px $primary;
        }
      
        &:active {
          background: $background;
          border-color: $primary;
        }
      }
     
      i {
        font-size: 12vw; 
        text-shadow: -1px 1px 1px white;
        transition: .25s;
        
        &:active {
          text-shadow: none;
        }
      }
    }
  }
}

 @keyframes onHover {
   0% {transform: rotate(0deg)}
   10% {transform: rotate(-45deg)}
   15% {transform: rotate(15deg)}
   20% {transform: rotate(-10deg)}
   25% {transform: rotate(5deg)}
   30% {transform: rotate(-5deg)}
   35% {transform: rotate(0deg)}
   100% {transform: rotate(0deg)}
}
